@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.css-wnvf12-MuiToolbar-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
